@import "tailwindcss";

@theme inline {
  --font-league: var(--font-league-spartan), sans-serif;
  --breakpoint-xs: 400px;
  --breakpoint-none: 300px;
}

body {
  background: black;
  color: white;
  font-family: var(--font-league-spartan), Arial, Helvetica, sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fc5603 black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #fc5603;
  border-radius: 20px;
  border: 3px solid black;
}